<br>
<div class="row">
  <div class="col s12 well grey">
    <div class="row">
      <div class="col s6">
        <img src={{story.image}} class="responsive-img">
      </div>
      <div class="col s6">
        <h4>{{#link-to 'story' story.id}}{{story.title}}{{/link-to}}</h4>
        {{story.content}}
      </div>
    </div>
  </div>
</div>
