<br>
<div class="row">
  <div class="col s12 well grey">
    <div class="row">
      {{#each model as |story|}}
        <div class="col s6">
        <img src={{story.image}}>
        </div>

        <div class="col s6">
          <h4>{{story.title}}</h4>
          {{story.content}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
